# See https://help.github.com/articles/ignoring-files/

# Binaries
bin/
mad-news-bot-server
mad-news-bot-worker
mad-news-bot-scheduler

# Local env
.env

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
